<h6>所有评论</h6>
<table>
  <thead>
    <tr>
      <td>评论者</td>

      <td>评论内容</td>

    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment|%>
    <tr>
      <td><%= comment.speaker_name %></td>

      <td><%= comment.text %></td>
      <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
      <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>


    </tr>
    <% end %>

  </tbody>
</table>

<br>
